<h1>Show User</h1>

<p><%= user.firstname %></p>
<p><%= user.lastname %></p>
<p><%= user.email %></p>
<p><%= user.age %></p>
<p>
  <%= link_to("Back", "/users", class: "btn btn-light btn-sm") -%>
  <%= link_to("Edit", "/users/#{user.id}/edit", class: "btn btn-success btn-sm") -%>
  <%= link_to("Delete", "/users/#{user.id}?_csrf=#{csrf_token}", "data-method": "delete", "data-confirm": "Are you sure?", class: "btn btn-danger btn-sm") -%>
</p>
